<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/ConverterApp/node_modules/jquery/dist/jquery.js"></script>
    <script src="/ConverterApp/public/js/app.js"></script>
    <link rel="stylesheet" href="/ConverterApp/node_modules/bootstrap/dist/css/bootstrap.css">

    <title>Title</title>
</head>

<body >
    <h1>Конвертер валют</h1>
    <div>
        {% block content %}

        {% endblock %}
    </div>

</body>
</html>